<nav>
  <div id="alignLeft">
    <% if (loggedIn){
      %><a href="/user/logout">Log Out</a><%
    } else if (!loggedIn){
      %><a href="/user/login">Log In</a>
        <a href="/user/signup">Sign Up</a><%
    }
    %>
  </div>

  <div id="alignRight">
    <% if (loggedIn){
      %> 
        <a href="/user/myCampaigns">My Campaigns</a>
        <a href="/user/myAccount">My Account</a>
        <a href="/">Home</a>
      <%
    } else if (!loggedIn){
      %>
      <a href="/">Home</a>
      <%
    }
    %>
  </div>
</nav> 
<br>
<a href="/"><h1>DungeonCore</h1></a>
