<nav>
  <a class="alignLeft" href="/user/login">Log In</a>
  <a href="/user/logout">Log Out</a>
  <a href="/user/signup">Sign Up</a>
  <a class="alignRight" href="/">Home</a>
  <a class="alignRight" href="/user/myAccount">My Account</a>
  <a class="alignRight" href="/user/myCampaigns">My Campaigns</a>
</nav> 
<br>
<h1>DungeonCore</h1>
