<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %> <!-- Everything in this is running as expected, except the style sheets. DEBUG -->
</head>
<body>
  <h1>Blue screen of life :)</h1>
</body>
</html>