<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div id="mainCampaigns">
    <!-- Put all campaigns with viewable checked here -->
  <% if (allData == ""){
    %><h3 id="noCamp">There are no public campaigns!</h3><%
  } else {
    for (data in allData){
      %><div class="campaignDiv">
        <h4><%=allData[data].nickName%></h4>
        <img src="<%=allData[data].imgUrl%>">
      </div><%
    }
  } 
  %>
  </div>
</body>
</html>