<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>dungeonCore</h1>
  <div id="mainCampaigns">
    <!-- Put all campaigns with viewable checked here -->
  <% for (data in allData){
    %><div class="campaignDiv">
      <p><%=allData[data].nickName%></p>
    </div><%
  }%>
  </div>
</body>
</html>