<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" type="text/css" href="./css/normalize.css">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="formDiv">
    <h3>Log In</h3>
    <form action="/sessions/" method="POST">
      <label for="name">User Name:</label>
      <input type="text" name="username" required/>
      <label for="color">Password:</label>
      <input type="password" name="password" />
      <br>
      <input type="submit" value="Submit">
    <form>
  </div>

</body>
</html>