<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %> <!-- Everything in this is running as expected, except the style sheets. DEBUG -->
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>dungeonCore</h1>
  <form>
    <input type="hidden" value="<%=thisUser._id%> ">
  </form>
</body>
</html>