<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %> <!-- Everything in this is running as expected, except the style sheets. DEBUG -->
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>dungeonCore</h1>

  <div>
    <form>
      <input type="text" name="nickName">
      <input type="text" name="imgUrl">
      <input type="text" name="imgUrl">
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>