<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head.ejs') %> <!-- Everything in this is running as expected, except the style sheets. DEBUG -->
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1>dungeonCore</h1>

  <div>
    <form name="">
      <input type="hidden" name="ownedBy" value="">
      <label for="nickName"> Campaign Name</label>
      <input type="text" name="nickName">
      <label for="imgUrl">Map Image URL</label>
      <input type="text" name="imgUrl">
      <label for="viewable">Viewable to others?</label>
      <input name="viewable" type="checkbox">
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>