:root{
--raisin-black: #242331ff;
--kombu-green: #373d20ff;
--spanish-bistre: #717744ff;
--camel: #b38a58ff;
--cafe-noir: #533e2dff;
}

/* FONTS
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Metal Mania', cursive;
*/

/* SEMANTIC TAGS */
body {
  background-color: var(--cafe-noir);
  color: white;
}

nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--camel);
  display: flex;
  font-size: large;
  justify-content: space-between;
}

nav div a{
  padding: 15px;
}

h1{
  margin-left: 50px;
  margin-top: 0;
  font-family: 'Metal Mania', monospace;
  font-weight: 300;
}

a{
  font-family: 'Metal Mania', sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 200;
}

/* CLASSES AND IDS */

#alignLeft{
  justify-self: flex-start;
}

#alignRight{
  justify-self: flex-end;
}

