:root{
--raisin-black: #242331ff;
--kombu-green: #373d20ff;
--spanish-bistre: #717744ff;
--camel: #b38a58ff;
--cafe-noir: #533e2dff;
}

/* FONTS
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'Metal Mania', cursive;
*/

/* SEMANTIC TAGS */
body {
  background-image: url('https://images.pexels.com/photos/2463349/pexels-photo-2463349.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  color: white;
  display: flex;
  flex-direction: column;
}

nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--spanish-bistre);
  display: flex;
  font-size: large;
  justify-content: space-between;
}

nav div a{
  padding: 15px;
}

h1{
  margin-left: 50px;
  margin-top: 0;
  font-family: 'Metal Mania', monospace;
  font-weight: 300;
  font-size: xx-large;
}

a{
  font-family: 'Metal Mania', sans-serif;
  text-decoration: none;
  color: white;
  font-weight: 200;
}

/* CLASSES AND IDS */

#alignLeft{
  justify-self: flex-start;
}

#alignRight{
  justify-self: flex-end;
}

#mainCampaigns{
  border: solid 1px var(--raisin-black);
  border-radius: 5px;
  background-color: var(--kombu-green);
  margin: 10px;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}

.campaignDiv{
  background-color: whitesmoke;
  border-radius: 5px;
  width: 200px;
  height: 250px;
  margin: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.campaignDiv img{
  max-width: 100px;
  max-height: 100px;
  align-self: center;
}

.campaignDiv a {
  margin: 0;
  align-self: center;
  justify-self: flex-start;
}

.campaignDiv h4{
  font-family: sans-serif;
}

.campaignDiv button{
  margin: 0;
}

.formDiv{
  color: black;
  border: solid 1px (var(--raisin-black));
  background-color: whitesmoke;
  width: 80%;
  border-radius: 5px;
  align-self: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.formDiv h3{
  align-self: flex-start;
  margin-left: 100px;
}

.formDiv form{
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  margin-top: 40px;
}

.formDiv label{
  align-self: flex-start;
}

.formDiv input{
  padding: 7px 5px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

.formDiv input[type="submit"]{
  background-color: var(--raisin-black);
  color: white;
  width: 40%;
}

.acctForm{
  height: 60vh;
}

.acctForm input[value="Delete Account"]{
  color: red;
  background-color: white;
  border: solid 1px red;
}

.displayCampaigns{
  border: solid 1px var(--raisin-black);
  border-radius: 5px;
  background-color: var(--kombu-green);
  margin: 10px;
  height: 80vh;
}

.displayCampaigns a{
  margin: 20px;
  color: black;
}

.displayCampaigns button{
  margin-top: 20px;
  border-radius: 5px;
  font-family: sans-serif;
}

#campaignDisplay {
  display: flex;
  flex-wrap: wrap;
}

#noCamp{
  justify-self: center;
  width: 100%;
  margin-left: 33%;
}

.viewCampaign{
  border: solid 1px var(--raisin-black);
  border-radius: 5px;
  background-color: var(--kombu-green);
  margin: 10px;
  padding-bottom: 20px;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonDiv{
  display: flex;
  flex-direction: row;
}

#buttonDiv input{
  color: black;
}

#buttonDiv button{
  font-family: sans-serif;
  color: black;
  margin-right: 10px;
}

#campaignDetails{
  max-width: 500px;
}

/* PSEUDOCLASSES AND ACTIONS */
nav a:hover{
  background-color: var(--camel);
  color: black;
}

input:focus{
  outline-color: var(--camel);
}
